
div, button {
  margin: 10px;
}

.playlist {
    display:flex;
}
.left {
  flex: 10%;
}

.right {
  flex: 90%;
}

p {
  top: 20px;
  position: relative;
}

#cover {
  height: 100px;
  width: 100px;
}

.words {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.buttons {
  margin-top: 50px;
}

.Middle{
    display: flex;
}

.BigLeft {
  width: 50%;
}

.BigRight {
  width: 50%;
}

.column {
    flex: 50%;
}

.Bottom {
  text-align: center;
}

#btn {
  font-size: 14px;
}

.topPart {
  text-align: center;
  font-size: 24px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.code {
  text-align: center;
  font-size: 16px;
  padding: 8px;
}

.code2 {
  text-align: center;
  font-family: "Do Hyeon";
  font-weight: bold;
  font-size: 24px;
}

.divider {
  border: white 1px solid;
  max-width: 500px;
  min-width: 200px;
}

.divider4 {
  border: white 1px solid;
}

.recommendedSongs {
  text-align: center;
}

.selections {
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: flex;

}

.recommendMe {

}
