
div, button {
  margin: 10px;
}

.playlist {
    display:flex;
}
.left {
  flex: 10%;
}

.right {
  flex: 90%;
}

p {
  top: 20px;
  position: relative;
}

#cover {
  height: 100px;
  width: 100px;
}

.words {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.buttons {
  margin-top: 50px;
}

.divider {
  border: white 1px solid;
}

.Middle{
    display: flex;
}

.BigLeft {
  width: 50%;
}

.BigRight {
  width: 50%;
}

.column {
    flex: 50%;
}

.Bottom {
  text-align: center;
}

#btn {
  font-size: 14px;
}
