.main2 {
  text-align: left;
}
.title2 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Lato";
}
.aboutDivider {
  border: white 1px solid;
  margin-bottom: 20px;
  max-width: 300px;
}
.subtitles {
  font-size: 24px;
}
.pReturn {
  text-align: center;
  width: 100px;
}
#howHost,
#howGuest {
  font-size: 20px;
}
#hostList,
#guestList {
  margin-top: -10px;
}
.goToWebsite {
  color: #c5efff;
}
.center {
  text-align: center;
}
